body {
    background-color: #800000;
    color: white;
    opacity: 75%;
}

#logo {
    opacity: 75%;
    width: 10vw;
    display: inline-block;
}

#logo + h1 {
    font-size: medium;
}

div {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    align-items: center;
}