.ProjectPage {
  font-family: "Arial";
  background: linear-gradient(
    to bottom,
    #d6d6d6,
    #d6d6d6 30%,
    #00a994 30%,
    #00a994
  );
  min-height: 100vh;
  padding-bottom: 2em;

  h1,
  h2 {
    font-family: "Arial Black";
    color: #2f4c99;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 1em;
  }

  .history,
  .realization,
  .tools,
  .assets {
    background-color: #ededed;
    margin: 2em auto;
    padding: 2em 2.5em;
    border-radius: 20px;
    width: 80%;
    box-sizing: border-box;
    box-shadow: 0 2px 12px #b1bcd9;
  }
  
  .realization img {
    width: 100%;
  }

  .tools,
  .assets {
    margin-top: 2em;
  }

  ul.linklist {
    list-style: disc inside;
    padding-left: 1.5em;

    li {
      margin-bottom: 0.7em;
      font-size: 1.1em;

      a {
        color: #2f4c99;
        text-decoration: underline;
        transition: color 0.2s;
        &:hover {
          color: #00a994;
        }
      }
    }

    ul {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      padding-left: 2em;
      list-style: circle inside;

      li {
        font-size: 1em;
      }
    }
  }

  p {
    font-size: 1.15em;
    color: #333;
    margin-bottom: 1em;
  }
}

body:has(.ProjectPage) {
  margin: 0;
}
